# 0. Attaching libraries

In [44]:
import os
import sqlite3
import pandas as pd
import sys
#from ydata_profiling import ProfileReport # for profiling
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
sns.set_style("whitegrid")       # optional aesthetics
%matplotlib inline

In [45]:
from dateutil.relativedelta import relativedelta
import builtins

In [46]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning, module="sklearn")

# 1. Reading the core Dataset from the golden source

In [42]:
csv_file  = "https://raw.githubusercontent.com/mithridata-com/NOVAIMS_BDMwDS_PROJECT/refs/heads/main/00%20Data/Dataset.csv?token=GHSAT0AAAAAADEUY5L67SA3ZFHKQZRP2KIM2CHCNUA"

excel_path  = (r"C:\Users\dimet\Documents\GitHub\NOVAIMS_BDMwDS_PROJECT\02 Output\02 TB Conversion Analytics.xlsx")

In [ ]:
# ── Load the CSV into a DataFrame ──────────────────────────────────────────
df = pd.read_csv(csv_file, low_memory=False)

In [6]:
# Quick sanity check (optional)
print(df.shape)       # prints (rows, columns)

(9373, 78)

## NEW COLUMNS

In [7]:
df["customer_id"] = df[["zipcode_link", "zip4", "place_residence","birth_date", "gender"]].astype(str).agg("-".join, axis=1)

In [10]:
# 1. Build boolean conditions based on == "Y"
conditions = [
    df['wa'] == 'Y',
    df['wa_bep_ca'] == 'Y',
    df['wa_ca'] == 'Y'
]

# 2. Corresponding labels
choices = ['1. Only liability insurance', '2. Liability + limited casco', '3. Liability + full casco']

# 3. Create the new column, defaulting to NaN if none of the three has "Y"
df['coverage_type'] = np.select(conditions, choices, default='')

In [11]:
# ── 1. External “today” reference ───────────────────────────────────────────
current_date = pd.to_datetime("2019-11-01")    # ← use any value you like
fancy_date = current_date.strftime("%B %d %Y")

In [12]:
# ── 2. Parse birth_date & compute age ───────────────────────────────────────
# 2-a. Ensure birth_date is a datetime column
df["birth_date"] = pd.to_datetime(df["birth_date"], errors="coerce")

# 2-b. Convert to integer years using dateutil.relativedelta for accuracy
df["age"] = df["birth_date"].apply(
    lambda bd: relativedelta(current_date, bd).years if pd.notnull(bd) else pd.NA
)
# ── 1. Ensure age is numeric ────────────────────────────────────────────────
# (errors='coerce' converts any bad strings to NaN so they drop out later)
df["age"] = pd.to_numeric(df["age"], errors="coerce")

# ── 2. Create age bands ─────────────────────────────────────────────────────
age_bins   = [0, 25, 35, 45, 55, 65, 120]               # tweak if needed
age_labels = ["<25", "25–34", "35–44", "45–54", "55–64", "65+"]

In [13]:
df["age_band"] = pd.cut(df["age"],
                           bins=age_bins,
                           labels=age_labels,
                           right=False)

In [14]:
df["urb_norm"] = (
    df["URB"]
      .astype(str)
      .str.strip()
      .str[0]                    # first letter
      .str.upper()
      .replace({"1": "1-VeryHigh", "2": "2-High", "3": "3-Mid-to-High", "4": "4-Mid", "5": "5-Mid-to-Low", "6": "6-Low","7": "7-VeryLow", "0": "Unknown", "N" : "Unknown"})
)

In [15]:
month_map = {
    "January":   "01",
    "February":  "02",
    "March":     "03",
    "April":     "04",
    "May":       "05",
    "June":      "06",
    "July":      "07",
    "August":    "08",
    "September": "09",
    "October":   "10",
    "November":  "11",
    "December":  "12"
}

df["buildmonth_num"] = df["buildmonth_car"].map(month_map)

In [16]:
# 2. Combine year + month + “01” (first of month) into a YYYY-MM-DD string and convert to datetime:
df["build_date"] = pd.to_datetime(
    df["buildyear_car"].astype(str).str[:4] + "-" + 
    df["buildmonth_num"] + "-01"
)

# Now 'build_date' holds a Timestamp for the first day of that month/year.
print(df[["buildyear_car", "buildmonth_car", "build_date"]].head())

   buildyear_car buildmonth_car build_date
0         2016.0           June 2016-06-01
1         2015.0           June 2015-06-01
2         2016.0          April 2016-04-01
3         2009.0           June 2009-06-01
4         2003.0        January 2003-01-01

In [17]:
# Calculate car_age
df['car_age'] = current_date.year - df['build_date'].dt.year - (
    (current_date.month < df['build_date'].dt.month) |
    ((current_date.month == df['build_date'].dt.month) & (current_date.day < df['build_date'].dt.day))
).astype(int)

In [18]:
# 1) Make sure `policy_start_date` is a datetime:
df['policy_start_date'] = pd.to_datetime(
    df['policy_start_date'],
    errors='coerce'
)

In [19]:
# Define age bins and labels
bins = [0, 3, 7, 11, 100]
labels = ['0-3', '4-7', '8-11', '12+']

# Create normalized age categories
df['car_age_norm'] = pd.cut(df['car_age'], bins=bins, labels=labels, include_lowest=True).cat.add_categories('Unknown').fillna("Unknown")

In [20]:
df

,affinity_name,status_report,offer_number,policy_number,zipcode_link,zip4,birth_date,brand,date_offer,date_request,...,churn,customer_id,coverage_type,age,age_band,urb_norm,buildmonth_num,build_date,car_age,car_age_norm
0,Insuro,Requestwithdrawn,1000,10000.0,10000,2132,1985-01-01,HYUNDAI,2018-10-11,2018-10-11,...,1,10000-2132-nan-1985-01-01-nan,1. Only liability insurance,34.0,25–34,3-Mid-to-High,06,2016-06-01,3.0,0-3
1,other,Tailoredofferwithdrawn,1001,NaN,10001,6027,1987-04-01,AUDI,2018-10-11,NaN,...,-1,10001-6027-nan-1987-04-01-nan,,32.0,25–34,7-VeryLow,06,2015-06-01,4.0,4-7
2,other,Incompleterequest,1002,NaN,10002,3824,1972-11-01,VOLKSWAGEN,2018-10-11,NaN,...,-1,10002-3824-nan-1972-11-01-nan,3. Liability + full casco,47.0,45–54,2-High,04,2016-04-01,3.0,0-3
3,other,Policycreated,1003,10002.0,10003,6921,1983-08-01,MAZDA,2018-10-11,2018-10-11,...,1,10003-6921-nan-1983-08-01-nan,2. Liability + limited casco,36.0,35–44,4-Mid,06,2009-06-01,10.0,8-11
4,other,Policycreated,1004,10003.0,10004,8266,1990-04-01,VOLVO,2018-10-12,2018-10-12,...,1,10004-8266-nan-1990-04-01-nan,1. Only liability insurance,29.0,25–34,4-Mid,01,2003-01-01,16.0,12+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9368,other,Requestaccepted,9439,11946.0,15568,1161,1960-09-01,VOLKSWAGEN,2020-03-08,2020-03-08,...,-1,15568-1161-nan-1960-09-01-nan,3. Liability + full casco,59.0,55–64,6-Low,12,2011-12-01,7.0,4-7
9369,other,Waitforapproval,9440,11947.0,15582,5015,1953-04-01,NISSAN,2020-03-08,2020-03-08,...,-1,15582-5015-nan-1953-04-01-nan,3. Liability + full casco,66.0,65+,2-High,02,2017-02-01,2.0,0-3
9370,Insuro,Tailoredofferrequested,9441,NaN,10332,3078,1976-04-01,TOYOTA,2020-03-08,NaN,...,-1,10332-3078-nan-1976-04-01-nan,2. Liability + limited casco,43.0,35–44,1-VeryHigh,01,2004-01-01,15.0,12+
9371,T&B,Calculatenewpremium,9442,NaN,12968,1965,1951-07-01,TOYOTA,2020-03-08,NaN,...,-1,12968-1965-nan-1951-07-01-nan,2. Liability + limited casco,68.0,65+,4-Mid,09,2004-09-01,15.0,12+
9372,T&B,Incompleterequest,9443,NaN,15526,1165,1964-01-01,VOLVO,2020-03-08,NaN,...,-1,15526-1165-nan-1964-01-01-nan,3. Liability + full casco,55.0,55–64,7-VeryLow,06,2015-06-01,4.0,4-7

## ANALYSIS

In [21]:
# Create a pivot table counting policy_number for each combination of the three columns
conv_table = df.pivot_table(
    index=['affinity_name'],
    #columns=['churn'],
    values=['conv',"policy_number","offer_number"],
    aggfunc={
            "conv": "mean",
            "policy_number": lambda x: len(x.unique()),
            "offer_number": lambda x: len(x.unique())
        }
).reset_index()

conv_table

                affinity_name      conv  offer_number  policy_number
0                      Insuro  0.254237          1305            401
1  Seguros International Ltd.  0.250155          1434            448
2                         T&B  0.133244          3398            593
3                       other  0.165588          2345            509

In [22]:
conv_table["ratio"] = conv_table["policy_number"]/conv_table["offer_number"]

In [23]:
conv_table

                affinity_name      conv  offer_number  policy_number     ratio
0                      Insuro  0.254237          1305            401  0.307280
1  Seguros International Ltd.  0.250155          1434            448  0.312413
2                         T&B  0.133244          3398            593  0.174514
3                       other  0.165588          2345            509  0.217058

In [24]:
# 2) Group by `customer_id` and take the minimum `policy_start_date`
first_policy = (
    df
    .groupby('policy_number', as_index=False)['policy_start_date']
    .min()
    .rename(columns={'policy_start_date': 'first_policy_date'})
)

# 3) From that min date, extract the quarter (e.g. “2021Q1”, “2021Q2”…)
#    We’ll use pandas’ Period functionality for a clean “YYYYQ#” string.
first_policy['cohort'] = first_policy['first_policy_date'].dt.to_period('m').astype(str)

C:\Users\dimet\AppData\Local\Temp\ipykernel_34452\4794884.py:11: FutureWarning: 'm' is deprecated and will be removed in a future version, please use 'M' instead.
  first_policy['cohort'] = first_policy['first_policy_date'].dt.to_period('m').astype(str)

In [25]:
df = df.merge(
    first_policy[['policy_number', 'cohort']],
    on='policy_number',
    how='left'
)

In [26]:
# Create a pivot table counting policy_number for each combination of the three columns
product_df = df.pivot_table(
    index=['coverage_type','affinity_name'],
    #columns=['affinity_name'],
    values=['conv'],
    aggfunc={
            "conv": "mean"
        },
    margins=True,
    margins_name="Total"
    
).reset_index().rename(columns={'policy_number': 'count_policy_number'})

product_df

                   coverage_type               affinity_name      conv
0                                                     Insuro  0.000000
1                                 Seguros International Ltd.  0.000000
2                                                        T&B  0.000000
3                                                      other  0.000000
4    1. Only liability insurance                      Insuro  0.345083
5    1. Only liability insurance  Seguros International Ltd.  0.302245
6    1. Only liability insurance                         T&B  0.258649
7    1. Only liability insurance                       other  0.214559
8   2. Liability + limited casco                      Insuro  0.225316
9   2. Liability + limited casco  Seguros International Ltd.  0.243952
10  2. Liability + limited casco                         T&B  0.100000
11  2. Liability + limited casco                       other  0.180000
12     3. Liability + full casco                      Insuro  0.217949
13     3. Liability + full casco  Seguros International Ltd.  0.210938
14     3. Liability + full casco                         T&B  0.079143
15     3. Liability + full casco                       other  0.166429
16                         Total                              0.180732

In [27]:
# Create a pivot table counting policy_number for each combination of the three columns
urban_df = df.pivot_table(
    index=["urb_norm","affinity_name"],
    #columns=['affinity_name'],
    values=['conv'],
    aggfunc="mean",
    margins=True,
    margins_name="Total"
    
).reset_index().rename(columns={'policy_number': 'count_policy_number'})

urban_df

         urb_norm               affinity_name      conv
0      1-VeryHigh                      Insuro  0.254967
1      1-VeryHigh  Seguros International Ltd.  0.277603
2      1-VeryHigh                         T&B  0.238182
3      1-VeryHigh                       other  0.164474
4          2-High                      Insuro  0.254355
5          2-High  Seguros International Ltd.  0.259740
6          2-High                         T&B  0.121160
7          2-High                       other  0.173653
8   3-Mid-to-High                      Insuro  0.259091
9   3-Mid-to-High  Seguros International Ltd.  0.283088
10  3-Mid-to-High                         T&B  0.122517
11  3-Mid-to-High                       other  0.160000
12          4-Mid                      Insuro  0.272085
13          4-Mid  Seguros International Ltd.  0.261128
14          4-Mid                         T&B  0.112883
15          4-Mid                       other  0.175115
16   5-Mid-to-Low                      Insuro  0.241830
17   5-Mid-to-Low  Seguros International Ltd.  0.205556
18   5-Mid-to-Low                         T&B  0.106280
19   5-Mid-to-Low                       other  0.166172
20          6-Low                      Insuro  0.171429
21          6-Low  Seguros International Ltd.  0.203540
22          6-Low                         T&B  0.130293
23          6-Low                       other  0.185328
24      7-VeryLow                      Insuro  0.281250
25      7-VeryLow  Seguros International Ltd.  0.197452
26      7-VeryLow                         T&B  0.102871
27      7-VeryLow                       other  0.135220
28        Unknown                      Insuro  0.000000
29        Unknown  Seguros International Ltd.  0.000000
30        Unknown                         T&B  0.000000
31        Unknown                       other  0.083333
32          Total                              0.180732

In [28]:
# 1. Define the mapping from integer code → descriptive label
stage_map = {
    0: "unknown",
    1: "young singles",
    2: "adult singles",
    3: "older singles",
    4: "families with young children",
    6: "families with older children",
    7: "young couples without children",
    8: "adult couples without children",
    9: "older couples without children"
    # Note: code 5 is not defined here; any 5s will become NaN unless you add a mapping.
}

# 2. Apply that mapping to create a new column
df["STAGE_OF_LIFE_label"] = df["STAGE_OF_LIFE"].map(stage_map)

# 4. Quick check
print(df[["STAGE_OF_LIFE", "STAGE_OF_LIFE_label"]].head())

   STAGE_OF_LIFE             STAGE_OF_LIFE_label
0            NaN                             NaN
1            9.0  older couples without children
2            4.0    families with young children
3            4.0    families with young children
4            4.0    families with young children

In [29]:
# Create a pivot table counting policy_number for each combination of the three columns
stage_df = df.pivot_table(
    index=["STAGE_OF_LIFE","STAGE_OF_LIFE_label",'affinity_name'],
    #columns=['affinity_name'],
    values=['conv'],
    aggfunc="mean",
    margins=True,
    margins_name="Total"
    
).reset_index()

stage_df

,STAGE_OF_LIFE,STAGE_OF_LIFE_label,affinity_name,conv
0,1.0,young singles,Insuro,0.198718
1,1.0,young singles,Seguros International Ltd.,0.302469
2,1.0,young singles,T&B,0.200000
3,1.0,young singles,other,0.186813
4,2.0,adult singles,Insuro,0.324786
5,2.0,adult singles,Seguros International Ltd.,0.290323
6,2.0,adult singles,T&B,0.177057
7,2.0,adult singles,other,0.213115
8,3.0,older singles,Insuro,0.237762
9,3.0,older singles,Seguros International Ltd.,0.261905
10,3.0,older singles,T&B,0.101289
11,3.0,older singles,other,0.149194
12,4.0,families with young children,Insuro,0.291771
13,4.0,families with young children,Seguros International Ltd.,0.288372
14,4.0,families with young children,T&B,0.145363
15,4.0,families with young children,other,0.171875
16,6.0,families with older children,Insuro,0.236111
17,6.0,families with older children,Seguros International Ltd.,0.217105
18,6.0,families with older children,T&B,0.125000
19,6.0,families with older children,other,0.172727
20,7.0,young couples without children,Insuro,0.344828
21,7.0,young couples without children,Seguros International Ltd.,0.193548
22,7.0,young couples without children,T&B,0.269231
23,7.0,young couples without children,other,0.150000
24,8.0,adult couples without children,Insuro,0.250000
25,8.0,adult couples without children,Seguros International Ltd.,0.295455
26,8.0,adult couples without children,T&B,0.126761
27,8.0,adult couples without children,other,0.192308
28,9.0,older couples without children,Insuro,0.221277
29,9.0,older couples without children,Seguros International Ltd.,0.194118
30,9.0,older couples without children,T&B,0.089928
31,9.0,older couples without children,other,0.151088
32,Total,,,0.181848

In [30]:
# Create a pivot table counting policy_number for each combination of the three columns
income_df = df.pivot_table(
    index=["INCOME",'affinity_name'],
    #columns=['affinity_name'],
    values=['conv'],
    aggfunc="mean",
    margins=True,
    margins_name="Total"
    
).reset_index()

income_df

   INCOME               affinity_name      conv
0     1.0                      Insuro  0.172840
1     1.0  Seguros International Ltd.  0.200000
2     1.0                         T&B  0.123675
3     1.0                       other  0.137529
4     2.0                      Insuro  0.220455
5     2.0  Seguros International Ltd.  0.236542
6     2.0                         T&B  0.115834
7     2.0                       other  0.172798
8     3.0                      Insuro  0.305825
9     3.0  Seguros International Ltd.  0.269444
10    3.0                         T&B  0.128385
11    3.0                       other  0.154286
12    4.0                      Insuro  0.242991
13    4.0  Seguros International Ltd.  0.285714
14    4.0                         T&B  0.151943
15    4.0                       other  0.156098
16    5.0                      Insuro  0.366667
17    5.0  Seguros International Ltd.  0.342857
18    5.0                         T&B  0.172249
19    5.0                       other  0.219512
20    6.0                      Insuro  0.233333
21    6.0  Seguros International Ltd.  0.250000
22    6.0                         T&B  0.105042
23    6.0                       other  0.197917
24  Total                              0.179177

In [31]:
residence_df = (
    df
    .pivot_table(index=["PROVINCE","affinity_name"],
                 #columns=["affinity_name"],
                 values=["conv"],          # any non-null column works
                 aggfunc="mean",
                 margins=True,
                 margins_name="Total")
    .reset_index()
    #.sort_values(by="num_customers", ascending=False)
)

residence_df

         PROVINCE               affinity_name      conv
0         Drenthe                      Insuro  0.250000
1         Drenthe  Seguros International Ltd.  0.173913
2         Drenthe                         T&B  0.066667
3         Drenthe                       other  0.117647
4       Flevoland                      Insuro  0.320755
5       Flevoland  Seguros International Ltd.  0.215385
6       Flevoland                         T&B  0.137931
7       Flevoland                       other  0.177778
8       Friesland                      Insuro  0.090909
9       Friesland  Seguros International Ltd.  0.156250
10      Friesland                         T&B  0.155172
11      Friesland                       other  0.193548
12     Gelderland                      Insuro  0.275676
13     Gelderland  Seguros International Ltd.  0.206522
14     Gelderland                         T&B  0.096986
15     Gelderland                       other  0.193798
16      Groningen                      Insuro  0.192308
17      Groningen  Seguros International Ltd.  0.257143
18      Groningen                         T&B  0.109005
19      Groningen                       other  0.150000
20        Limburg                      Insuro  0.346939
21        Limburg  Seguros International Ltd.  0.233333
22        Limburg                         T&B  0.085938
23        Limburg                       other  0.145455
24  North Brabant                      Insuro  0.188976
25  North Brabant  Seguros International Ltd.  0.259669
26  North Brabant                         T&B  0.109541
27  North Brabant                       other  0.154717
28  North Holland                      Insuro  0.265823
29  North Holland  Seguros International Ltd.  0.270893
30  North Holland                         T&B  0.167582
31  North Holland                       other  0.177453
32     Overijssel                      Insuro  0.284314
33     Overijssel  Seguros International Ltd.  0.284314
34     Overijssel                         T&B  0.108571
35     Overijssel                       other  0.211009
36  South Holland                      Insuro  0.238806
37  South Holland  Seguros International Ltd.  0.273743
38  South Holland                         T&B  0.172222
39  South Holland                       other  0.177835
40        Utrecht                      Insuro  0.262376
41        Utrecht  Seguros International Ltd.  0.240642
42        Utrecht                         T&B  0.181818
43        Utrecht                       other  0.170124
44        Zeeland                      Insuro  0.000000
45        Zeeland  Seguros International Ltd.  0.212121
46        Zeeland                         T&B  0.142857
47        Zeeland                       other  0.026316
48          Total                              0.181643

In [32]:
# Create a pivot table counting policy_number for each combination of the three columns
brand_df = df.pivot_table(
    index=["brand","affinity_name"],
    #columns=['affinity_name'],
    values=['conv'],
    aggfunc="mean",
    margins=True,
    margins_name="Total"
    
).reset_index()

brand_df

          brand               affinity_name      conv
0    ALFA ROMEO                      Insuro  0.500000
1    ALFA ROMEO  Seguros International Ltd.  0.333333
2    ALFA ROMEO                         T&B  0.210526
3    ALFA ROMEO                       other  0.133333
4       APRILIA                      Insuro  0.000000
..          ...                         ...       ...
182       VOLVO                       other  0.179641
183      YAMAHA                      Insuro  0.066667
184      YAMAHA                         T&B  0.000000
185      YAMAHA                       other  0.076923
186       Total                              0.180790

[187 rows x 3 columns]

In [33]:
# Create a pivot table counting policy_number for each combination of the three columns
age_df = df.pivot_table(
    index=["age_band",'affinity_name'],
    #columns=['affinity_name'],
    values=['conv'],
    aggfunc="mean",
    margins=True,
    margins_name="Total"
    
).reset_index()

age_df

C:\Users\dimet\AppData\Local\Temp\ipykernel_34452\782192441.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  age_df = df.pivot_table(

   age_band               affinity_name      conv
0       <25                      Insuro  0.256303
1       <25  Seguros International Ltd.  0.301724
2       <25                         T&B  0.212806
3       <25                       other  0.178378
4     25–34                      Insuro  0.289256
5     25–34  Seguros International Ltd.  0.312605
6     25–34                         T&B  0.228464
7     25–34                       other  0.247449
8     35–44                      Insuro  0.292135
9     35–44  Seguros International Ltd.  0.238095
10    35–44                         T&B  0.152542
11    35–44                       other  0.222222
12    45–54                      Insuro  0.218750
13    45–54  Seguros International Ltd.  0.197842
14    45–54                         T&B  0.104000
15    45–54                       other  0.166667
16    55–64                      Insuro  0.200000
17    55–64  Seguros International Ltd.  0.164062
18    55–64                         T&B  0.088512
19    55–64                       other  0.168000
20      65+                      Insuro  0.157895
21      65+  Seguros International Ltd.  0.181818
22      65+                         T&B  0.032710
23      65+                       other  0.073661
24    Total                              0.183532

In [34]:
loan_df = df.pivot_table(
    index=["LOAN","affinity_name"],
    values=['conv'],
    aggfunc="mean",
    margins=True,
    margins_name="Total"
    
).reset_index()

loan_df

     LOAN               affinity_name      conv
0     1.0                      Insuro  0.244444
1     1.0  Seguros International Ltd.  0.198381
2     1.0                         T&B  0.072197
3     1.0                       other  0.153430
4     2.0                      Insuro  0.229787
5     2.0  Seguros International Ltd.  0.230303
6     2.0                         T&B  0.125828
7     2.0                       other  0.143750
8     3.0                      Insuro  0.269625
9     3.0  Seguros International Ltd.  0.259947
10    3.0                         T&B  0.140590
11    3.0                       other  0.181347
12    4.0                      Insuro  0.263761
13    4.0  Seguros International Ltd.  0.276102
14    4.0                         T&B  0.138080
15    4.0                       other  0.181364
16    5.0                      Insuro  0.268722
17    5.0  Seguros International Ltd.  0.290698
18    5.0                         T&B  0.201493
19    5.0                       other  0.197802
20    6.0                      Insuro  0.212121
21    6.0  Seguros International Ltd.  0.270270
22    6.0                         T&B  0.241935
23    6.0                       other  0.238095
24  Total                              0.181975

In [35]:
savings_df = df.pivot_table(
    index=["SAVINGS","affinity_name"],
    #columns=['affinity_name'],
    values=['conv'],
    aggfunc="mean",
    margins=True,
    margins_name="Total"
).reset_index()

savings_df

   SAVINGS               affinity_name      conv
0      1.0                      Insuro  0.428571
1      1.0  Seguros International Ltd.  0.363636
2      1.0                         T&B  0.128205
3      1.0                       other  0.111111
4      2.0                      Insuro  0.229167
5      2.0  Seguros International Ltd.  0.267857
6      2.0                         T&B  0.152882
7      2.0                       other  0.132530
8      3.0                      Insuro  0.254839
9      3.0  Seguros International Ltd.  0.279188
10     3.0                         T&B  0.144291
11     3.0                       other  0.173554
12     4.0                      Insuro  0.262097
13     4.0  Seguros International Ltd.  0.225352
14     4.0                         T&B  0.134615
15     4.0                       other  0.182232
16     5.0                      Insuro  0.239344
17     5.0  Seguros International Ltd.  0.270833
18     5.0                         T&B  0.097892
19     5.0                       other  0.163695
20     6.0                      Insuro  0.265432
21     6.0  Seguros International Ltd.  0.245383
22     6.0                         T&B  0.138765
23     6.0                       other  0.166384
24   Total                              0.181975

In [36]:
car_df = df.pivot_table(
    index=["CAR","affinity_name"],
    #columns=['affinity_name'],
    values=['conv'],
    aggfunc="mean",
    margins=True,
    margins_name="Total"
    
).reset_index()

car_df

      CAR               affinity_name      conv
0     1.0                      Insuro  0.288591
1     1.0  Seguros International Ltd.  0.291005
2     1.0                         T&B  0.213942
3     1.0                       other  0.172932
4     2.0                      Insuro  0.260563
5     2.0  Seguros International Ltd.  0.316176
6     2.0                         T&B  0.177184
7     2.0                       other  0.182741
8     3.0                      Insuro  0.296296
9     3.0  Seguros International Ltd.  0.264865
10    3.0                         T&B  0.146751
11    3.0                       other  0.164835
12    4.0                      Insuro  0.260504
13    4.0  Seguros International Ltd.  0.262887
14    4.0                         T&B  0.129845
15    4.0                       other  0.154891
16    5.0                      Insuro  0.238429
17    5.0  Seguros International Ltd.  0.229213
18    5.0                         T&B  0.102799
19    5.0                       other  0.168742
20  Total                              0.181975

In [37]:
own_house_df = df.pivot_table(
    index=["OWN_HOUSE","affinity_name"],
    #columns=['affinity_name'],
    values=['conv'],
    aggfunc="mean",
    margins=True,
    margins_name="Total"
    
).reset_index()

own_house_df

   OWN_HOUSE               affinity_name      conv
0        1.0                      Insuro  0.248000
1        1.0  Seguros International Ltd.  0.290456
2        1.0                         T&B  0.175853
3        1.0                       other  0.144928
4        2.0                      Insuro  0.269565
5        2.0  Seguros International Ltd.  0.267206
6        2.0                         T&B  0.167874
7        2.0                       other  0.182768
8        3.0                      Insuro  0.271429
9        3.0  Seguros International Ltd.  0.273973
10       3.0                         T&B  0.128571
11       3.0                       other  0.174312
12       4.0                      Insuro  0.275720
13       4.0  Seguros International Ltd.  0.245520
14       4.0                         T&B  0.108985
15       4.0                       other  0.182342
16       5.0                      Insuro  0.226158
17       5.0  Seguros International Ltd.  0.228330
18       5.0                         T&B  0.091153
19       5.0                       other  0.147482
20     Total                              0.181985

In [38]:
car_age_df = df.pivot_table(
    index=["car_age_norm","affinity_name"],
    #columns=['affinity_name'],
    values=['conv'],
    aggfunc="mean",
    margins=True,
    margins_name="Total"
    
).reset_index()

car_age_df

C:\Users\dimet\AppData\Local\Temp\ipykernel_34452\868622937.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  car_age_df = df.pivot_table(

   car_age_norm               affinity_name      conv
0           0-3                      Insuro  0.201389
1           0-3  Seguros International Ltd.  0.185185
2           0-3                         T&B  0.056931
3           0-3                       other  0.156197
4           4-7                      Insuro  0.271375
5           4-7  Seguros International Ltd.  0.297376
6           4-7                         T&B  0.135854
7           4-7                       other  0.172414
8          8-11                      Insuro  0.255814
9          8-11  Seguros International Ltd.  0.296399
10         8-11                         T&B  0.166084
11         8-11                       other  0.193878
12          12+                      Insuro  0.260807
13          12+  Seguros International Ltd.  0.221180
14          12+                         T&B  0.138708
15          12+                       other  0.149410
16      Unknown                      Insuro  0.000000
17      Unknown  Seguros International Ltd.  0.000000
18      Unknown                         T&B  0.107143
19      Unknown                       other  0.129032
20        Total                              0.180732

In [39]:
status_df = df.pivot_table(
    index=["status_report","affinity_name"],
    #columns="affinity_name",
    values=['offer_number','policy_number'],
    aggfunc=lambda x: len(x.unique()),
    margins=True,
    margins_name="Total"
).reset_index()

status_df

,status_report,affinity_name,offer_number,policy_number
0,Adaptedproposalwithdrawn,other,1,1
1,Calculatenewpremium,Insuro,348,1
2,Calculatenewpremium,Seguros International Ltd.,366,1
3,Calculatenewpremium,T&B,1255,1
4,Calculatenewpremium,other,909,1
5,Incompleterequest,Insuro,459,6
6,Incompleterequest,Seguros International Ltd.,524,11
7,Incompleterequest,T&B,1056,1
8,Incompleterequest,other,687,5
9,Personaloffer,Insuro,86,1
10,Personaloffer,Seguros International Ltd.,100,1
11,Personaloffer,T&B,333,1
12,Personaloffer,other,186,1
13,Personalofferrejected,Insuro,1,1
14,Personalofferrejected,Seguros International Ltd.,1,1
15,Personalofferrejected,T&B,5,1
16,Personalofferrejected,other,4,1
17,Policycreated,Insuro,360,360
18,Policycreated,Seguros International Ltd.,404,404
19,Policycreated,T&B,495,495
20,Policycreated,other,435,435
21,Requestaccepted,Insuro,16,16
22,Requestaccepted,Seguros International Ltd.,31,31
23,Requestaccepted,T&B,45,45
24,Requestaccepted,other,35,35
25,Requestrejected,Insuro,12,12
26,Requestrejected,Seguros International Ltd.,16,16
27,Requestrejected,T&B,44,44
28,Requestrejected,other,30,30
29,Requestwithdrawn,Insuro,17,17
30,Requestwithdrawn,Seguros International Ltd.,13,13
31,Requestwithdrawn,T&B,25,25
32,Requestwithdrawn,other,21,21
33,Tailoredofferrejected,Insuro,20,1
34,Tailoredofferrejected,Seguros International Ltd.,11,1
35,Tailoredofferrejected,T&B,103,1
36,Tailoredofferrejected,other,57,1
37,Tailoredofferrequested,Insuro,18,1
38,Tailoredofferrequested,Seguros International Ltd.,19,1
39,Tailoredofferrequested,T&B,101,1
40,Tailoredofferrequested,other,62,1
41,Tailoredofferwithdrawn,Insuro,3,1
42,Tailoredofferwithdrawn,Seguros International Ltd.,4,1
43,Tailoredofferwithdrawn,T&B,57,1
44,Tailoredofferwithdrawn,other,26,1
45,Waitforapproval,Insuro,19,19
46,Waitforapproval,Seguros International Ltd.,40,40
47,Waitforapproval,T&B,45,45
48,Waitforapproval,other,48,48
49,Waitresponsebackoffice,Insuro,53,53
50,Waitresponsebackoffice,Seguros International Ltd.,80,80
51,Waitresponsebackoffice,T&B,139,139
52,Waitresponsebackoffice,other,114,114
53,Total,,1942,1947

In [40]:
df.pivot_table(
    index=["status_report","affinity_name"],
    #columns="affinity_name",
    values=['offer_number','policy_number'],
    aggfunc=lambda x: len(x.unique()),
    margins=True,
    margins_name="Total"
).reset_index()

,status_report,affinity_name,offer_number,policy_number
0,Adaptedproposalwithdrawn,other,1,1
1,Calculatenewpremium,Insuro,348,1
2,Calculatenewpremium,Seguros International Ltd.,366,1
3,Calculatenewpremium,T&B,1255,1
4,Calculatenewpremium,other,909,1
5,Incompleterequest,Insuro,459,6
6,Incompleterequest,Seguros International Ltd.,524,11
7,Incompleterequest,T&B,1056,1
8,Incompleterequest,other,687,5
9,Personaloffer,Insuro,86,1
10,Personaloffer,Seguros International Ltd.,100,1
11,Personaloffer,T&B,333,1
12,Personaloffer,other,186,1
13,Personalofferrejected,Insuro,1,1
14,Personalofferrejected,Seguros International Ltd.,1,1
15,Personalofferrejected,T&B,5,1
16,Personalofferrejected,other,4,1
17,Policycreated,Insuro,360,360
18,Policycreated,Seguros International Ltd.,404,404
19,Policycreated,T&B,495,495
20,Policycreated,other,435,435
21,Requestaccepted,Insuro,16,16
22,Requestaccepted,Seguros International Ltd.,31,31
23,Requestaccepted,T&B,45,45
24,Requestaccepted,other,35,35
25,Requestrejected,Insuro,12,12
26,Requestrejected,Seguros International Ltd.,16,16
27,Requestrejected,T&B,44,44
28,Requestrejected,other,30,30
29,Requestwithdrawn,Insuro,17,17
30,Requestwithdrawn,Seguros International Ltd.,13,13
31,Requestwithdrawn,T&B,25,25
32,Requestwithdrawn,other,21,21
33,Tailoredofferrejected,Insuro,20,1
34,Tailoredofferrejected,Seguros International Ltd.,11,1
35,Tailoredofferrejected,T&B,103,1
36,Tailoredofferrejected,other,57,1
37,Tailoredofferrequested,Insuro,18,1
38,Tailoredofferrequested,Seguros International Ltd.,19,1
39,Tailoredofferrequested,T&B,101,1
40,Tailoredofferrequested,other,62,1
41,Tailoredofferwithdrawn,Insuro,3,1
42,Tailoredofferwithdrawn,Seguros International Ltd.,4,1
43,Tailoredofferwithdrawn,T&B,57,1
44,Tailoredofferwithdrawn,other,26,1
45,Waitforapproval,Insuro,19,19
46,Waitforapproval,Seguros International Ltd.,40,40
47,Waitforapproval,T&B,45,45
48,Waitforapproval,other,48,48
49,Waitresponsebackoffice,Insuro,53,53
50,Waitresponsebackoffice,Seguros International Ltd.,80,80
51,Waitresponsebackoffice,T&B,139,139
52,Waitresponsebackoffice,other,114,114
53,Total,,1942,1947

## EXCEL

In [41]:
def append_df_to_excel(df, excel_path, sheet_name, table_style=None):
    """
    Append *df* to *excel_path* in a new sheet called *sheet_name*.
    Creates the file if it doesn't exist yet.
    Optionally formats the range as an Excel 'Table' (striped style)  
    if you pass a *table_style* string, e.g. "TableStyleMedium9".
    """
    # Figure out whether the file already exists
    file_exists = os.path.exists(excel_path)

    # 1️⃣  Open writer in append ('a') or write ('w') mode
    with pd.ExcelWriter(
            excel_path,
            engine="openpyxl",
            mode="a" if file_exists else "w",
            # **NO** if_sheet_exists parameter → appends when the name is new
    ) as writer:
        if file_exists and sheet_name in writer.book.sheetnames:
            raise ValueError(f"'{sheet_name}' already exists! Pick another name.")

        # 2️⃣  Dump the DataFrame
        df.to_excel(writer, sheet_name=sheet_name, index=False)

        # 3️⃣  Optional: convert range to an Excel Table (nice stripes)
        if table_style:
            from openpyxl.worksheet.table import Table, TableStyleInfo

            ws = writer.book[sheet_name]
            max_row, max_col = ws.max_row, ws.max_column
            last_col = chr(ord("A") + max_col - 1)      # crude col-letter calc
            excel_range = f"A1:{last_col}{max_row}"

            tbl = Table(displayName=sheet_name.replace(" ", "_"), ref=excel_range)
            tbl.tableStyleInfo = TableStyleInfo(name=table_style,
                                                showRowStripes=True,
                                                showColumnStripes=False)
            ws.add_table(tbl)

In [43]:
sheets = {
    "1_Conv":    conv_table,      
    "2_Products": product_df,
    "3_Urban": urban_df, 
    "4_Stage": stage_df,
    "5_Income": income_df,
    "6_Residence": residence_df,
    "7_Brand": brand_df,
    "8_Age": age_df,
    "9_Loan": loan_df,
    "10_Savings": savings_df,
    "11_Car": car_df,
    "12_OwnHouse": own_house_df,
    "13_CarAge": car_age_df,
    "14_Status": status_df
}

# ── 2. Create / overwrite workbook with xlsxwriter ─────────────────────────
# NOTE: xlsxwriter **cannot** append to an existing .xlsx; it generates a
# brand-new file.  If Source_data.xlsx already exists, this call will replace
# it.  Include any other DataFrames in *this* block if you need them, too.
with pd.ExcelWriter(excel_path, engine="xlsxwriter") as writer:
    workbook = writer.book

    for sheet_name, df in sheets.items():
        # 2-a. Dump the DataFrame
        df.to_excel(writer, sheet_name=sheet_name, startrow=0, startcol=0,
                    index=False)

        # 2-b. Turn that range into a nicely styled Excel Table
        worksheet = writer.sheets[sheet_name]
        max_row, max_col = df.shape            # rows & cols in the DataFrame
        table_range = (0, 0, max_row, max_col-1)  # (first_row, first_col, ...)

        worksheet.add_table(*table_range, {
            "name":       sheet_name.replace(" ", "_"),
            "columns":    [{"header": col} for col in df.columns],
            "style":      "Table Style Medium 9",
        })

        # 2-c. Auto-fit the column widths (simple heuristic)
        for i, col in enumerate(df.columns):
            col_width = max(len(str(col)), 12)                # header width
            try:
                col_width = max(col_width, int(df[col].astype(str).str.len().max()))
            except ValueError:                                # empty col
                pass
            worksheet.set_column(i, i, col_width + 2)         # +2 padding

C:\Users\dimet\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\worksheet.py:3303: UserWarning: Invalid Excel characters in add_table(): '1_Conv'
  warn(f"Invalid Excel characters in add_table(): '{name}'")
C:\Users\dimet\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\worksheet.py:3303: UserWarning: Invalid Excel characters in add_table(): '2_Products'
  warn(f"Invalid Excel characters in add_table(): '{name}'")
C:\Users\dimet\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\worksheet.py:3303: UserWarning: Invalid Excel characters in add_table(): '3_Urban'
  warn(f"Invalid Excel characters in add_table(): '{name}'")
C:\Users\dimet\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\worksheet.py:3303: UserWarning: Invalid Excel characters in add_table(): '4_Stage'
  warn(f"Invalid Excel characters in add_table(): '{name}'")
C:\Users\dimet\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\worksheet.py:3303: UserWarning: Invalid Excel characters in add_table(): '5_Income'
  warn(f"Invalid Excel characters in add_table(): '{name}'")
C:\Users\dimet\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\worksheet.py:3303: UserWarning: Invalid Excel characters in add_table(): '6_Residence'
  warn(f"Invalid Excel characters in add_table(): '{name}'")
C:\Users\dimet\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\worksheet.py:3303: UserWarning: Invalid Excel characters in add_table(): '7_Brand'
  warn(f"Invalid Excel characters in add_table(): '{name}'")
C:\Users\dimet\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\worksheet.py:3303: UserWarning: Invalid Excel characters in add_table(): '8_Age'
  warn(f"Invalid Excel characters in add_table(): '{name}'")
C:\Users\dimet\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\worksheet.py:3303: UserWarning: Invalid Excel characters in add_table(): '9_Loan'
  warn(f"Invalid Excel characters in add_table(): '{name}'")
C:\Users\dimet\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\worksheet.py:3303: UserWarning: Invalid Excel characters in add_table(): '10_Savings'
  warn(f"Invalid Excel characters in add_table(): '{name}'")
C:\Users\dimet\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\worksheet.py:3303: UserWarning: Invalid Excel characters in add_table(): '11_Car'
  warn(f"Invalid Excel characters in add_table(): '{name}'")
C:\Users\dimet\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\worksheet.py:3303: UserWarning: Invalid Excel characters in add_table(): '12_OwnHouse'
  warn(f"Invalid Excel characters in add_table(): '{name}'")
C:\Users\dimet\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\worksheet.py:3303: UserWarning: Invalid Excel characters in add_table(): '13_CarAge'
  warn(f"Invalid Excel characters in add_table(): '{name}'")
C:\Users\dimet\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\worksheet.py:3303: UserWarning: Invalid Excel characters in add_table(): '14_Status'
  warn(f"Invalid Excel characters in add_table(): '{name}'")