In [9]:
import os
import pandas as pd
import sys
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")       # optional aesthetics
%matplotlib inline

In [12]:
csv_file = "https://raw.githubusercontent.com/mithridata-com/NOVAIMS_BDMwDS_PROJECT/refs/heads/main/00%20Data/Dataset.csv?token=GHSAT0AAAAAADEUY5L6L2ZMM4M7PBJ5B4W42CFRQJQ"

In [13]:
# ── Load the CSV into a DataFrame ──────────────────────────────────────────
df = pd.read_csv(csv_file, low_memory=False)

In [14]:
df

,affinity_name,status_report,offer_number,policy_number,zipcode_link,zip4,birth_date,brand,date_offer,date_request,...,FAM_WCHILD_Y,FAM_WCHILD_MED,FAM_WCHILD_OLD,CIT_HOUSEHOLD,LOAN,SAVINGS,SHOP_ONLINE,CAR,conv,churn
0,Insuro,Requestwithdrawn,1000,10000.0,10000,2132,1985-01-01,HYUNDAI,2018-10-11,2018-10-11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
1,other,Tailoredofferwithdrawn,1001,NaN,10001,6027,1987-04-01,AUDI,2018-10-11,NaN,...,1.0,1.0,4.0,5.0,2.0,6.0,5.0,5.0,0,-1
2,other,Incompleterequest,1002,NaN,10002,3824,1972-11-01,VOLKSWAGEN,2018-10-11,NaN,...,1.0,2.0,2.0,6.0,3.0,5.0,6.0,5.0,0,-1
3,other,Policycreated,1003,10002.0,10003,6921,1983-08-01,MAZDA,2018-10-11,2018-10-11,...,2.0,3.0,3.0,5.0,3.0,5.0,6.0,5.0,1,1
4,other,Policycreated,1004,10003.0,10004,8266,1990-04-01,VOLVO,2018-10-12,2018-10-12,...,2.0,3.0,3.0,5.0,4.0,4.0,6.0,5.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9368,other,Requestaccepted,9439,11946.0,15568,1161,1960-09-01,VOLKSWAGEN,2020-03-08,2020-03-08,...,1.0,2.0,3.0,6.0,4.0,5.0,6.0,5.0,0,-1
9369,other,Waitforapproval,9440,11947.0,15582,5015,1953-04-01,NISSAN,2020-03-08,2020-03-08,...,1.0,3.0,4.0,5.0,4.0,6.0,6.0,5.0,0,-1
9370,Insuro,Tailoredofferrequested,9441,NaN,10332,3078,1976-04-01,TOYOTA,2020-03-08,NaN,...,2.0,3.0,3.0,5.0,5.0,4.0,6.0,4.0,0,-1
9371,T&B,Calculatenewpremium,9442,NaN,12968,1965,1951-07-01,TOYOTA,2020-03-08,NaN,...,1.0,3.0,4.0,3.0,2.0,3.0,3.0,5.0,0,-1
9372,T&B,Incompleterequest,9443,NaN,15526,1165,1964-01-01,VOLVO,2020-03-08,NaN,...,1.0,1.0,4.0,5.0,3.0,5.0,5.0,5.0,0,-1